<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="tic-tac">
  <iframe
    style="border: none;"
    src="https://www.proprofs.com/games/html5_games.php?script_path=tictactoe_e/js/tictactoe_e.js?v=1"
    width="630"
    height="430"
  ></iframe>
  <div
    style="font-size:10px; font-family:Arial, Helvetica, sans-serif; color:#000;"
  >
    <a
      href="https://www.proprofs.com/games/four-in-a-row-multiplayer-game/"
      target="_blank"
      title="Four In A Row Multiplayer Game"
      rel="nofollow"
      >Four In A Row Multiplayer Game</a
    >
    »
    <a
      href="https://www.proprofs.com/games/"
      title="Free Puzzle Games"
      target="_blank"
      rel="nofollow"
      >Free Puzzle Games</a
    >
  </div>
</div> -->
  <ion-card>
        <img alt="About us" src="https://t4.ftcdn.net/jpg/03/17/72/83/240_F_317728377_sCPKkOYg94Vzb7v0kFgLvEE1Py1JZ6eI.jpg" />
        <ion-card-header>
          <ion-card-subtitle>A2 developers</ion-card-subtitle>
          <ion-card-title>A2 Club</ion-card-title>
        </ion-card-header>
        <ion-card-content>
This app will boost up your vocabulary very quick 
        </ion-card-content>
      </ion-card>
</ion-content>
