#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  display: inline-grid;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// ion-content{
  // --
//   :host ::ng-deep .bg{
//   background: url(../../assets/images/wall.png) ;
//   // 0 0/100% 100% no-repeat;

// }

#container1{
  text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    transform: translateY(-50%);
    // display: inline-grid;
}

ion-content.background{
  --background: #12181b;//url(../../assets/images/wall.png) no-repeat 52% center/cover;
}

ion-fab-button{
  --background:#2e2d2c;
}

// ion-grid{
//   --display: inline-block;
// }